[Desktop Entry]
Name=Tektronix
Comment=Tektronix 4010
Exec=/opt/pidp11/bin/tek4010 bash pdp11
Terminal=false
Type=Application
Icon=/opt/pidp11/install/tek.svg
Categories=X-PDP11;
StartupNotify=false
